# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log
*.env
env/
venv/
.env.local

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
logs/
*.log

# Media storage (optional)
storage/

# Backups
backups/
